.allFormRoom {
  background-color: lavender;
  width: 800px;
  margin: 60px auto;
}

.form-rooms-container {
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-rooms-container h1 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.form-rooms-container form {
  display: flex;
  flex-direction: column;
}

.form-rooms-container label {
  margin-bottom: 20px;
  color: #3807a7;
  font-size: 0.95rem;
  font-weight: 500;
}

.form-rooms-container input[type="text"],
.form-rooms-container textarea,
.form-rooms-container input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box; /* Para incluir el padding en el ancho */
}

.form-rooms-container input[type="text"]:focus,
.form-rooms-container textarea:focus,
.form-rooms-container input[type="file"]:focus {
  outline: 2px solid #3807a7;
  border: 1px solid transparent;
}

.form-rooms-container input[type="file"] {
  margin-bottom: 15px;
}

.form-rooms-container label img {
  margin-top: 5px;
  display: block;
}

.form-rooms-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-rooms-container button:hover {
  background-color: #45a049;
}

.form-rooms-container button {
  background-color: #3807a7;
  color: white;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  max-width: 10rem;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.form-rooms-container button:hover {
  border: 1px solid #3807a7;
  background-color: transparent;
  color: #3807a7;
}

.servicesSelect {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
  background-color: #fff;
}

.selectedServices {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;
  gap: 10px;
}

.btn-register-container .btn-delete-service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 10px;
  height: 10px;
  background-color: #3807a7;
  border: 3px solid rgba(0, 0, 0, 0.1);
  color: #fff;
}

.btn-register-container .btn-delete-service:hover {
  color: black;
}

.register-li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
  flex-direction: row;
  margin: 10px;
  flex-wrap: wrap;
}