* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  position: relative;
}

body {
  background-color: lavender;
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
