.filtros {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  background-color: #e0e0e0;
  border-radius: 10px;
  /* height: 500px; */
}

.filtros h1 {
  font-size: 1.3rem;
}

.filtros input {
  padding: 10px;
  border-radius: 20px;
  font-size: .9rem;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  /* border: 1px solid #030308; */
  border: 1px solid #ddd;
}

.filtros button {
  padding: 10px 10px;
  background-color: #3b1b7b;;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.services-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: .9rem;
  font-weight: 600;
  color: #312929;
}

.services-grid label {
  font-size: .9rem;
}

.services-grid input {
  height: 20px;
}

.services-title {
  color: #38079b;
  font-size: 1.1rem;
}