.CartPage-container {
    display: flex;
    background-color: lavender;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
  
  .upperText {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    margin-left: 300px;
  }
  
  .searchBar-container {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 30px;
    color: rgb(17, 16, 18);
  }
  
  .imagenCarrusel {
    /*padding: 20px;
    */
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }
  
  .imagSlay {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 100px;
    width: 80%;
    font-weight: 600;
  }
