.detailContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  margin-top: 50px;
  padding: 20px;
  background-color: lavender;
}

.detail {
  display: flex;
  justify-content: space-between;
  text-align: center;
  flex-direction: column;
}

.detail h1 {
  padding: 20px;
}

.leftColumn {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 15px;
  padding: 10px;
}

.leftColumn li {
  flex: 1;
  list-style-type: none;
}
.eachRoom {
  background-color: #b8b7c0;
  padding: 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  margin: 10px;
}

.aColumn {
  line-height: 1.5;
}
.reviews {
  background-color: #b8b7c0;
  padding: 15px;
  margin: 70px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.rightColumn {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: row;
}

.rightColumn img {
  width: 300px;
  height: 300px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.imageCarousel {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 20px;
  padding: 15px;
  flex-wrap: wrap;
}

.reserva-button {
  align-self: center;
  width:fit-content;
  margin: 45px;
  padding: 20px;
  border-radius: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(45deg, #2f0a2f, #4b2f6e);
  background-color: #131126;
  border: 2px solid #1d1a39;
  transition: 0.3s transform ease-in-out;
}

.reserva-button:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #461d46, #694b8d);
  color: #ffffff;
}

.reviews {
  background-color: #fff;
  padding: 15px;
  margin: 70px 0;
  border-radius: 5px;
  box-shadow: 7px 7px 13px #bebebe;
}

.reviews h3 {
  color: #38079b;
  margin-bottom: 15px;
}

.reviews ul {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.reviews span {
  font-weight: 600;
}
