.Reservas * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.PasarelaCard {
    border: #00000022 1px solid;
    box-shadow: #00000066 0.25em 0.25em 0.5em 0;
    margin: 0.5em;
    padding: 0.5em;
    display: flex;
    position: relative;
}
.PasarelaImg {
    aspect-ratio: 1/1;
    height: 100px;
}
.PasarelaInfo {
    display: flex;
    width: 100%;
}
.PasarelaTitulo {
    padding-left: 0.5em;
}
.PasarelaTitulo,
.InfoPrecio,
.InfoReserva,
.PasarelaTotal  {
    width: 50%;
}
.InfoPrecio, .InfoReserva, .PasarelaTotal {
    display: flex;
    align-items: center;
    justify-content: end;
}
.InfoReserva {
    flex-direction: column;
}
.PasarelaTotal {
    align-items:  center;
    justify-content: center;
}
.PagoDesc {
    width: 75%;
}
.PagosTotal {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.TotalPagar {
    background: #00000022;
    padding: 1em;
    margin: 0.5em;
}
.Pagos {
    display: flex;
    width: 100%;
    margin: 1em;
    padding: 1em;
}

.Paypal-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.PaypalButton {
    border-radius: 0.35em;
    padding: 0.35em 0.675em;
    text-align: center;
    background-color: #ffc439;
    width: 69%;
}
.PaypalButton img {
    transform: scale(.8);
    width: max-content;
    height: max-content;
}

.paypal-powered-by {
    text-align: center;
    margin: 10px auto;
    height: 14px;
    font-family: PayPalOpen-Regular, Helvetica, Arial, "Liberation Sans", sans-serif;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    color: #7b8388;
    position: relative;
}
.paypal-powered-by > .paypal-button-text {
    margin-right: 8px;
}
.paypal-powered-by > .paypal-button-text,
.paypal-powered-by > .paypal-logo {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    line-height: 16px;
    font-size: 11px;
}