/* CARD STYLE */

.card-container {
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 0 10px 10px #bebebe;
  border-radius: 10px;
  max-height: 200px;
}

.card-image {
  min-height: 100%;
  max-width: 16rem;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
  flex: 1;
}

.card-text-container {
  height: 100%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  flex: 3;
  padding: 20px;
  gap: 10px;
}

.card-text-container h3 {
  color: #38079b;
}

.card-price {
  bottom: 0px;
  right: 40px;
  font-size: 1.2rem;
  color: #38079b;
  font-weight: bold;
}

.card-link .card-button {
  padding: 10px 10px;
  background-color: #3b1b7b;;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.card-link .card-button:hover {
  background-color: transparent;
  border: 1px solid #38079b;
  color: #38079b;
}

.card-container {
  position: relative;
}

.fav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #5921c9;
  position: absolute;
  top: -1.3rem;
  right: -1.3rem;
  font-size: 1rem;
  transition: transform 0.3s ease;
}

.fav-button:hover {
  transform: scale(1.1);
}