<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Succes</title>
    <style>
        #Content {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .Icon {
            font-size: 3em;
            margin: 2em;
        }
        
        
    </style>
</head>
<body>
    <div id="Content">
        <span class="Icon">✔️</span>
        <h1 class="Tittle">Compra exitosa</h1>
        <a href="http://localhost:5173/hotels">Volver a la pagina</a>
    </div>
</body>
</html>