/* Top */

.cardLandContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.imgContainer {
  flex: 1;
}

.cardLand-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

/* Bottom */

.cardLand-text-container {
  padding: 20px;
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardLand-title {
  font-weight: 800;
}

.cardLand-adress {
}

.cardLand-link {
}

.cardLand-button {
  display: flex;
  align-items: right;
  justify-content: right;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 10px;
  background-color: #2b124c;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
