.home-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.home-container .flex-home {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.home-container .flex-home h1 {
  padding-top: 5px;
}

.homeWrapped {
  width: 100%;
  max-width: 1024px;
  display: flex;
  gap: 20px;
}

/* card-filter-container */

.card-filter-container {
  display: flex;
  margin: 60px auto;
  gap: 20px;
  width: 80%;
}

.filter-container {
  display: flex;
  text-align: center;
  flex: 1;
}

.allCards {
  flex: 3;
  z-index: 800;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ?---------------------------- Pagination ---------------------------- */

.pagination {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 10px;
  padding: 30px;
  cursor: pointer;
}

.pagination button {
  border-radius: 5px;
  border: 1px solid transparent;
  background-color: #5921c9;
  color: #fff;
  min-height: 40px;
  min-width: 40px;
}

.disabled {
  background-color: #cccccc !important;
  cursor: not-allowed;
}
