.headerSearch{
    height: 30px;
    background-color: white;
    border: 3px solid #522B5B;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0px;
    border-radius: 18px;
    position: absolute;
    width: 100%;
    max-width: 1024px;
}

.headerIcon{
    color: lightgray;
}

.headerSearchItem{
    display: flex;
    align-items: center;
    gap: 10px;
}

.headerSearchInput{
    border: none;
    outline: none;
}

.headerSearchText{
    cursor: pointer;
    color: lightgrey;
}