.searchContainer {
  width: 22rem;
  padding-top: 10px;
}

.searchContainer .searchComponent {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.searchContainer .searchComponent input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #522b5b;
  margin: 0;
  height: 2.6rem;
  min-width: 10rem;
}

.searchContainer .searchComponent input:focus {
  outline: none;
}

.searchContainer .searchComponent button {
  border-radius: 5px;
  background-color: #2b124c;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  padding: 5px 20px;
  height: 2.6rem;
}
