.searchContainer {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 100px;
  gap: 10px;
  width: 100%;
}

.searchContainer input {
  display: flex;
  padding: 10px;
  min-width: 90%;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: 3px solid #522b5b;
}

.searchContainer button {
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  background-color: #2b124c;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
