.favorites-container {
  margin: 0 auto;
  padding: 20px;
  min-height: 100vh;
}

.favorites-container h1 {
  text-align: center;
  font-size: 2rem;
}

.favorites-cards-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.favorites-cards-container .card-container {
  width: 650px;
  margin: 0 auto;
}

/* 
.favorites-grid {
  padding-top: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.hotel-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hotel-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hotel-card h3 {
  padding: 10px;
  text-align: center;
  margin: 0;
} */
