.allFormHotel {
  background-color: lavender;
  width: 800px;
  margin: 60px auto;
}

.form-hotels-container {
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  /* background-color: #f9f9f9; */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-hotels-container h1 {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 30px;
}

.form-hotels-container form {
  display: flex;
  flex-direction: column;
}

.form-hotels-container label {
  margin-bottom: 20px;
  color: #3807A7;
  font-size: .95rem;
  font-weight: 500;
}

.form-hotels-container input[type="text"],
.form-hotels-container textarea,
.form-hotels-container input[type="file"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
  box-sizing: border-box; /* Para incluir el padding en el ancho */
}

.form-hotels-container input[type="text"]:focus,
.form-hotels-container textarea:focus,
.form-hotels-container input[type="file"]:focus {
  outline: 2px solid #3807A7;
  border: 1px solid transparent;
}

.form-hotels-container textarea {
  min-height: 10rem;
}

.form-hotels-container input[type="file"] {
  margin-bottom: 15px;
}

.form-hotels-container label img {
  margin-top: 5px;
  display: block;
}

.form-hotels-container button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.form-hotels-container button:hover {
  background-color: #45a049;
}

.form-hotels-container button {
  /* width: 100%;
  padding: 17px;
  margin: 10px;
  color: #ffffff;
  background-color: #230623;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px; */
  background-color: #3807A7;
  color: white;
  padding: 12px 20px;
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  max-width: 10rem;
  margin: 0 auto;
  transition: background-color 0.3s ease;
}

.form-hotels-container button:hover {
  border: 1px solid #3807A7;
  background-color: transparent;
  color: #3807A7;
}

.messageInput {
  display: none;
}

.errorForm {
  color: #F44336;
  font-weight: 500;
  font-size: .85rem;
  background-color: #F5DDDD;
  padding: 10px;
  border: 1px solid #FFCCCF;
}

.form-hotels-container input[type="file"] {
  border: none;
}