.About {
  padding: 100px;
  height: 700px;
  background-color: lavender;
  margin-top: 200px;
}

.mision-vision {
}

.img-mision {
}

.img-vision {
}

.Linkedin-container {
}

.team-members {
}

.team-member img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
