.team-member {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.fotoNuestra  {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.iconoLinkedin {
    width: 23px;
    height: 23px;
}